@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange:hsl(26, 100%, 55%);
    --pale-orage:hsl(25, 91%, 79%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --gray-blue: hsl(220, 5%, 57%);
    --light-grayish-blue: hsl(230, 11%, 89%);
    --white: hsl(0, 0%, 100%);
    --lighbox-bg: hsla(0, 0%, 0%, 0.75);
}
body{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    display: block;
}


.container{
    padding: 0 8rem;
}

/**
 * 01. HEADER
 *
 * -------------------------------------------------------------------
 */
.header{
    display: flex;
    align-items: baseline;
    padding: 1.5rem 0;
    position: relative;
}
.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--light-grayish-blue);
}
.icon-menu{
    display: none;
}

/* LOGO */
.logo{
    margin-right: 3rem;
    display: flex;
    align-items: center;
}

/* NAV-BAR */
.nav-bar ul{
    height: 100%;
    display: flex;
    gap: 1.5rem;
}
.nav-bar svg{
    display: none;
}
.nav-bar ul li a{
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--grayish-blue);
    font-size: 0.9rem;
}
.nav-bar ul li{
    position: relative;
}
.nav-bar ul li a:hover{
    color: var(--Dark-grayish-blue);
}
.nav-bar ul li a:hover:after{
    content: '';
    position: absolute;
    bottom: -2.5rem;
    z-index: 999;
    border-top: 3px solid var(--orange);
    width: 100%;
}

/* CART-AVATAR */
.cart-avatar{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.cart{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cart .quantity-products-card{
    position: absolute;
    top: 15px;
    right: 12px;
    
    background-color: var(--orange);
    color: var(--white);
    font-size: 0.6rem;

    border-radius: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    
    height: 13px;
    width: 20px;
}

.svg-cart{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart:hover .cart-card{
    display: block;
}
.svg-cart svg path{
    fill: var(--gray-blue);
}
.svg-cart:hover svg path{
    fill: var(--very-dark-blue);
}

/* CART-CARD */
.cart-card{
    display: none;
    position: absolute;
    top: 100%;
    z-index: 997;
    border-radius: 10px;
    min-width: 340px;
    /* min-height: 200px; */
    background-color: #fff;
    box-shadow: 0 7px 20px rgb(177, 177, 177);
}
.cart-card .header-card{
    padding: 1rem;
}
.cart-card .horizontal-line{
    border-top: 1px solid var(--light-grayish-blue);
}
.cart-card .body-card{
    min-height: 180px;
    padding: 1rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
.cart-card .list-products{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cart-card .list-products .empty-phrase{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-card .product-added{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-card .product-added img{
    width: 50px;
    border-radius: 5px;
}
.cart-card .description-product{
    color: var(--gray-blue);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cart-card .description-product span{
    margin-left: 0.5rem;
    color: var(--very-dark-blue);
    font-weight: 600;
}
.delete-product-cart:hover{
    cursor: pointer;
}
.delete-product-cart:hover svg use{
    fill: var(--Dark-grayish-blue);
}
.btn-card{
    background-color: var(--orange);
    padding: 1rem 0;
    border-radius: 0.6rem;
    border: 0;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}
.btn-card:hover{
    background-color: var(--pale-orage);
}

/* AVATAR */
.avatar{
    height: 2.7rem;
    cursor: pointer;
}
.avatar:hover img{
    border: 2px solid var(--orange);
    border-radius: 50%;
}
.avatar img{
    height: 100%;
    transition: border 0.2s;
}

/**
 * 02. MAIN
 *
 * -------------------------------------------------------------------
 */

.main{
    min-height: 550px;
    height: 85vh;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

/* IMAGES OF PRODUCTS */
.product-images{
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-image svg{
    display: none;
}
.main-image img{
    width: 100%;
    border-radius: 0.8rem;
    cursor: pointer;
}
.others-image{
    display: flex;
    justify-content: space-between;
}
.others-image img{
    width: 5.2rem;
    border-radius: 0.4rem;
}


.others-image .other-image{
    cursor: pointer;
    width: 6vw;
    position: relative;
}
.others-image .other-image img{
    width: 100%;
}
.others-image .other-image:hover::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.4rem;
}
.others-image .other-image.selected::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.77);
    border-radius: 0.4rem;
    border: 2px solid var(--orange);
}



/* DESCRIPTION OF PRODUCT */
.product-descriptions{
    width: 31.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.title-company{
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}
.title-product{
    font-size: 2.5rem;
}
.product-paragraph{
    color: var(--grayish-blue);
    padding: 0.9rem 0 0.7rem;
}
.price-container{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.current-price{
    font-size: 1.8rem;
    font-weight: 600;
}
.discount-rate{
    color: var(--orange);
    font-weight: 600;
}
.previous-price{
    margin-top: 0.8rem;
    color: var(--grayish-blue);
    text-decoration: line-through;
    font-size: 0.9rem;
}
.actions-cart{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.quantity-products{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0 1rem;
}
.quantity-products svg{
    cursor: pointer;
}
.quantity-products>svg:hover use{
    fill: var(--pale-orage);
}
.btn-add-to-cart{
    padding: 1rem 0;
    width: 65%;
    min-width: 90px;
    background-color: var(--orange);
    border-radius: 0.8rem;
    color: var(--white);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.4s;
}
.btn-add-to-cart:hover{
    background-color: var(--pale-orage);
}
.btn-add-to-cart svg path{
    fill: var(--white);
}


/**
 * 03. LIGHTBOX
 *
 * -------------------------------------------------------------------
 */
.light-box-modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighbox-bg);
}
.light-box-modal .product-images{
    width: 33vw;
    max-width: 510px;
    min-width: 400px;
}
.light-box-modal>.product-images>.others-image{
    padding: 0 2rem;
}
.light-box-modal .others-image .other-image{
    cursor: pointer;
    width: 80px;
    position: relative;
}
.light-box-modal .main-image svg{
    display: block;
}
.light-box-modal .main-image{
    position: relative;
}
.light-box-modal .main-image .direction-icon{
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.light-box-modal .main-image .direction-icon:hover svg path{
    stroke: var(--orange);
}
.light-box-modal .main-image .left-icon{
    left: -22.5px;
}
.light-box-modal .main-image .right-icon{
    right: -22.5px;
}

.light-box-modal .main-image .close-icon{
    width: 40px;
    height: 40px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.light-box-modal .main-image .close-icon:hover svg path{
    stroke: var(--orange);
    fill: var(--orange); 
}
.light-box-modal .main-image .close-icon svg path{
    stroke: var(--white);
    fill: var(--white);
}



@media (max-width:960px){
    .container{
        padding: 0;
    }
    .icon-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        cursor: pointer;
    }
    .nav-bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--lighbox-bg);
        z-index: 2000;
        display: none;
    }
    .container-nav-bar{
        position: fixed;
        left: 0;
        top: 0;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 60vw;
        height: 100vh;
        background-color: #fff;
        z-index: 1050;
    }
    .nav-bar svg{
        display: block;
        cursor: pointer;
    }
    .nav-bar ul{
        display: flex;
        flex-direction: column;
    }
    .nav-bar ul li a{
        color: var(--very-dark-blue);
        font-weight: 700;
        font-size: 1rem;
    }
    .nav-bar ul li a:hover:after{
        display: none;
    }
    .header{
        padding: 1rem 1.5rem;
    }
    
    .cart-avatar{
        gap: 1rem;
    }
    .cart{
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
    }
    .cart-card{
        top: 115%;
        left: 0.5rem;
        right: 0.5rem;
        margin: auto;
        min-width: auto;
    }

    .cart .quantity-products-card{
        top: 16px;
        right: 65px;
    }
        /* AVATAR */
    .avatar{
        height: 2rem;
    }

    .header:after{
        display: none;
    }
    .main{
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    .product-images{
        width: 100%;
    }
    .main-image{
        position: relative;
        /* z-index: -1; */
    }
    .main-image img{
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position: center top;
        border-radius: 0;
        cursor: auto;
    }

    .main-image .direction-icon{
        position: absolute;
        height: 45px;
        width: 45px;
        background-color: #fff;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .main-image .direction-icon svg{
        display: block;
    }
    .main-image .direction-icon:hover svg path{
        stroke: var(--orange);
    }
    .main-image .left-icon{
        left: 1rem;
    }
    .main-image .right-icon{
        right: 1rem;
    }
    .others-image {
        display: none;
    }
    .product-descriptions{
        width: 100%;
        padding: 1.5rem;
    }
    .title-product{
        font-size: 1.8rem;
    }
    .product-paragraph{
        padding: 0.7rem 0;
    }
    .prices{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .previous-price{
        margin-top: 0;
    }
    .actions-cart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .quantity-products{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem 2rem;
    }
    .quantity-products svg{
        cursor: pointer;
    }
    .quantity-products>svg:hover use{
        fill: var(--pale-orage);
    }
    .btn-add-to-cart{
        width: 100%;
        padding: auto;
    }
    .light-box-modal .product-images{
        width: 80vw;
        gap: 1.5rem;
    }
}


.hidden{
    display: none;
}
.d-block{
    display: block;
}